<%#
# Menu-File, which is included on every page
%>

<ul id="top_menu">
  <li><a href="/" title="Einen Einblick in bisherige Projekte">Projekte</a></li>
  <li><a href="/code" tite="Quellcode, an dem ich momentan arbeite">Code</a></li>
  <li><a href="/curriculum-vitae" title="Mein Lebenslauf">CV</a></li>
</ul><br clear="all" /><br />
