<!DOCTYPE html>
<html lang="de">  
<head>
    <meta charset="UTF-8" />
    <title>Felix Abele - Web Application Engineer</title>
    
    <!-- Syntax Highlighting, Thanks to: http://alexgorbatchev.com/ -->
    <script type="text/javascript" src="/js/shCore.js"></script>    
    <script type="text/javascript" src="/js/shBrushRuby.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/shCoreDefault.css"/>
    <script type="text/javascript">
      SyntaxHighlighter.defaults['toolbar'] = false;
      SyntaxHighlighter.all();
    </script>        
    
    <!-- General CSS -->
    <link type="text/css" rel="stylesheet" href="/css/styles.css">    
    
    <style>
      #bd {width: 800px}
      
      table, table tr td { border-collapse: collapse;}
      table tr th {color: #383838; text-align: left; vertical-align: top;}
      
      h1 {color: #383838; margin-bottom: 2px;}
      h2 {border: 1px solid #e0e0e0; border-left: 20px solid #e0e0e0; border-right: none;
          padding: 4px 0 4px 12px; color: #383838; margin-top: 30px; margin-bottom: 10px}
      
      hr {border: none; border-bottom: 1px dashed #cccccc;
          height: 1px; margin: 6px 0 6px 0;}
      
      .subtitle {font-size: 14px; font-style: italic; margin-bottom: 20px;}
      
      #address { width: 240px; float: right}
      #address tr th { text-align: left}
      #address .street {color: #383838;}
      
      .profilbild { float: left}
      
      .timeline td { padding-top: 6px}
      .timeline th {padding: 10px 20px 0 20px; }
      
      .skills { float: left; width: 230px; margin: 10px;}
      .skills .tbl_head { background-color: #f6f6f6; color: #383838}
    </style>    
</head>
<body>   

  <div id="bd">

    <h1>Bla Bla Haudegen</h1>
    <div class="subtitle">Bla Bla ist der beste</div>
    <img src="http://placehold.it/260x180" title="Profilbild" class="profilbild" />

    <table id="address">
      <tr><td colspan="2"><hr /></td></tr>
      <tr><th>Telefon:</th><td>28377236</td></tr>
      <tr><th>E-Mail:</th><td>bla@hot.de</td></tr></tr
      <tr><th>Web:</th><td><a href="http://www.felix-abele.de/" target="_blank">felix-abele.de</a></td></tr>
      <tr><th>Code:</th><td><a href="https://github.com/felixabele/" target="_blank">github.com/felixabele</a></td></tr>            
      <tr>
        <td colspan="2" class="street">
          <hr />
          Hobrechtstr. 28,
          12047 Berlin
          <hr />
        </td>
      </tr>      
    </table><br clear="all" />
    
    <!-- Profil -->
    <h2>Profil</h2>
    <p>folios, and much more. They can be links or static content.<br />
      Simple, flexible markup</p>
    <p>Thumbnail markup is simple—a ul with any number of li elements is all that is required. 
       It's also super flexible, allowing for any type of content with just a bit more markup to wrap your contents.</p>
    
    <!-- Ziele -->
    <h2>Ziel</h2>
    <p>folios, and much more. They can be links or static content.<br />
      Simple, flexible markup</p>
    <p>Thumbnail markup is simple—a ul with any number of li elements is all that is required. 
       It's also super flexible, allowing for any type of content with just a bit more markup to wrap your contents.</p>    
    
    <!-- Beruf. Lebenslauf -->
    <h2>Beruflicher Werdegang</h2>
    <table class="timeline">
      <tr>
        <th>2006 - 2009</th>
        <td>with any number of li elements is all that is required.<br /> 
        It's also super flexible</td>
      </tr>
      
      <tr>
        <th>2009 - 2001</th>
        <td>with any number of li elements is all that is required.<br /> 
        It's also super flexible d shsjg dsar 7w7fdz </td>
      </tr>      
    </table>
    
    <!-- Skills -->
    <h2>Fähigkeiten</h2>
    <table class="skills">
      <thead>
      <tr>
        <th class="tbl_head" colspan="2">Front-End</th>
      </tr>
      
      <tr>
        <th>bla</th>
        <td>with any number</td>
      </tr>    
      
      <tr>
        <th>Blub</th>
        <td>with any number of li </td>
      </tr>         
    </table>
    
    <table class="skills">
      <thead>
      <tr>
        <th class="tbl_head" colspan="2">Back-End</th>
      </tr>
      
      <tr>
        <th>bla</th>
        <td>with any number</td>
      </tr>    
      
      <tr>
        <th>Blub</th>
        <td>with any number of li </td>
      </tr>
    </table>    
    <br clear="all" />
    
    <!-- Freizeit -->
    <h2>Freizeit und Hobbys</h2>
    <p>folios, and much more. They can be links or static content.<br />
      Simple, flexible markup</p>
    <p>Thumbnail markup is simple—a ul with any number of li elements is all that is required. 
       It's also super flexible, allowing for any type of content with just a bit more markup to wrap your contents.</p>    
    <pre class="brush: ruby; ruler: false;">
      do
        puts code
      while world == 'Better Place'  
    </pre>    
  </div>

</body>
</html>