     
  <div id="bd">
    <h2>Geocoding for fun</h2>
    
    <form method="post" action="">
      <textarea cols="60" rows="6" name="places"><%= @places %></textarea><br /><br />
      <input type="submit" value="Koordinaten berechnen" />
    </form>
  </div>