    
  <!--Project-Graph -->
  <script type="text/javascript" src="js/project_graph.js"></script>
  <script type="text/javascript"> 
    
    // Projects
    var projects = [ 
      <% unless @projects.nil? %>
        <% @projects.each do |project| %>
            <%= project.custom_json %>,
        <% end %>
      <% end %>
    ];

    $(document).ready(function(){
      projectGraph.init();
    });
  </script>  

  <div id="header">
    <img src="images/felix_abele_half.png" class="profile_img" />
    <img src="images/felix_abele_h1.png" title="Felix Abele" alt="Felix Abele" />
    <p>
        Meine Berufliche Seite als Webentwickler<br />
        Erkunden Sie hier private so wie berufliche Projekte der letzten Jahre. 
    </p>
  </div>  
  
  <div id="canvasWrapper">
      <canvas width="800" height="400" id="stageCanvas"></canvas>
  </div>        
